In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pwd

'C:\\Users\\Мирдин'

In [4]:
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
1,0.0,0.0,NaN,0,318.0,5.0,7.0,4.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
3,10.0,0.0,38.0,0,4198.0,66.0,NaN,35.0,0
4,3.0,0.0,38.0,0,NaN,58.0,NaN,33.0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call Failure             2524 non-null   float64
 1   Complains                2558 non-null   float64
 2   Subscription Length      2633 non-null   float64
 3   Charge Amount            3150 non-null   int64
 4   Seconds of Use           2561 non-null   float64
 5   Frequency of use         2479 non-null   float64
 6   Frequency of SMS         2488 non-null   float64
 7   Distinct Called Numbers  2514 non-null   float64
 8   Churn                    3150 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 221.6 KB

In [6]:
df.dropna()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
6,4.0,0.0,38.0,0,2360.0,39.0,285.0,18.0,0
20,7.0,0.0,37.0,1,11465.0,154.0,11.0,47.0,0
24,13.0,1.0,36.0,1,5818.0,98.0,26.0,24.0,1
...,...,...,...,...,...,...,...,...,...
3130,8.0,0.0,35.0,2,7090.0,103.0,21.0,24.0,0
3132,5.0,0.0,38.0,2,643.0,10.0,11.0,4.0,0
3134,11.0,0.0,36.0,4,7270.0,122.0,278.0,35.0,0
3138,9.0,0.0,29.0,2,1620.0,42.0,200.0,13.0,0
3142,15.0,0.0,27.0,1,1530.0,38.0,26.0,15.0,0

In [7]:
df=df.dropna()

In [8]:
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
6,4.0,0.0,38.0,0,2360.0,39.0,285.0,18.0,0
20,7.0,0.0,37.0,1,11465.0,154.0,11.0,47.0,0
24,13.0,1.0,36.0,1,5818.0,98.0,26.0,24.0,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 706 entries, 0 to 3142
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call Failure             706 non-null    float64
 1   Complains                706 non-null    float64
 2   Subscription Length      706 non-null    float64
 3   Charge Amount            706 non-null    int64
 4   Seconds of Use           706 non-null    float64
 5   Frequency of use         706 non-null    float64
 6   Frequency of SMS         706 non-null    float64
 7   Distinct Called Numbers  706 non-null    float64
 8   Churn                    706 non-null    int64
dtypes: float64(7), int64(2)
memory usage: 55.2 KB

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [18]:
y = df['Churn'].values
X = df.drop('Churn', axis=1).values

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42, stratify=y)

In [20]:
# Instantiate the XGBClassifier: xg_cl
xg_cl = xgb.XGBClassifier(objective='binary:logistic', n_estimators=10, seed=123)

# Fit the classifier to the training set
xg_cl.fit(X_train, y_train)

# Predict the labels of the test set: preds
preds = xg_cl.predict(X_test)

# Compute the accuracy: accuracy
accuracy = float(np.sum(preds==y_test))/y_test.shape[0]
print("accuracy: %f" % (accuracy))

D:\Anaconda\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[13:31:47] WARNING: D:\bld\xgboost-split_1634712635879\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
accuracy: 0.901408

In [21]:
churn_dmatrix = xgb.DMatrix(data=X, label=y)

# Create the parameter dictionary: params
params = {"objective":"reg:logistic", "max_depth":3}

# Perform cross-validation: cv_results
cv_results = xgb.cv(dtrain=churn_dmatrix, params=params, 
                  nfold=3, num_boost_round=5, 
                  metrics="error", as_pandas=True, seed=123)

# Print cv_results
print(cv_results)

# Print the accuracy
print(((1-cv_results["test-error-mean"]).iloc[-1]))

   train-error-mean  train-error-std  test-error-mean  test-error-std
0          0.092768         0.014070         0.104748        0.036541
1          0.091351         0.015066         0.106167        0.036329
2          0.092765         0.017313         0.110422        0.030583
3          0.089934         0.014694         0.104748        0.036541
4          0.080024         0.004294         0.103336        0.033463
0.8966643333333333

In [22]:
cv_results = xgb.cv(dtrain=churn_dmatrix, params=params, 
                  nfold=3, num_boost_round=5, 
                  metrics="auc", as_pandas=True, seed=123)

# Print cv_results
print(cv_results)

# Print the AUC
print((cv_results["test-auc-mean"]).iloc[-1])

   train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0        0.878881       0.010952       0.861728      0.070609
1        0.907201       0.008605       0.890779      0.040412
2        0.910823       0.009325       0.891325      0.035789
3        0.925241       0.010783       0.907271      0.031593
4        0.936700       0.008236       0.908412      0.030196
0.9084123333333333

In [24]:
knn = KNeighborsClassifier(n_neighbors=7)

# Fit the classifier to the training data
knn.fit(X_train, y_train)

# Print the accuracy
print(knn.score(X_test, y_test))

0.8732394366197183

In [25]:
from sklearn.tree import DecisionTreeClassifier

# Import AdaBoostClassifier
from sklearn.ensemble import AdaBoostClassifier

# Instantiate dt
dt = DecisionTreeClassifier(max_depth=2, random_state=1)

# Instantiate ada
ada = AdaBoostClassifier(base_estimator=dt, n_estimators=180, random_state=1)

In [27]:
ada.fit(X_train, y_train)

# Compute the probabilities of obtaining the positive class
y_pred_proba = ada.predict_proba(X_test)[:,1]

In [28]:
from sklearn.metrics import roc_auc_score

# Evaluate test-set roc_auc_score
ada_roc_auc = roc_auc_score(y_test,y_pred_proba)

# Print roc_auc_score
print('ROC AUC score: {:.2f}'.format(ada_roc_auc))

ROC AUC score: 0.94