In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'C:\\Users\\Мирдин'

In [4]:
df1=pd.read_csv(r'C:\Users\Мирдин\Downloads\27-08-2021_12-56-35\technical_task_dataset.csv')

In [5]:
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
1,0.0,0.0,NaN,0,318.0,5.0,7.0,4.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
3,10.0,0.0,38.0,0,4198.0,66.0,NaN,35.0,0
4,3.0,0.0,38.0,0,NaN,58.0,NaN,33.0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call Failure             2524 non-null   float64
 1   Complains                2558 non-null   float64
 2   Subscription Length      2633 non-null   float64
 3   Charge Amount            3150 non-null   int64
 4   Seconds of Use           2561 non-null   float64
 5   Frequency of use         2479 non-null   float64
 6   Frequency of SMS         2488 non-null   float64
 7   Distinct Called Numbers  2514 non-null   float64
 8   Churn                    3150 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 221.6 KB

In [11]:
df['Charge Amount'].value_counts()

0     1768
1      617
2      395
3      199
4       76
5       30
8       19
7       14
9       14
6       11
10       7
Name: Charge Amount, dtype: int64

In [13]:
df['Seconds of Use'].isna().sum()

589

In [14]:
df.describe()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
count,2524.000000,2558.000000,2633.000000,3150.000000,2561.000000,2479.000000,2488.000000,2514.000000,3150.000000
mean,7.731379,0.076622,32.499810,0.942857,4457.024209,69.052844,73.308682,23.361575,0.157143
std,7.286990,0.266043,8.540095,1.521072,4167.652501,56.910760,112.651426,17.275861,0.363993
min,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,29.000000,0.000000,1390.000000,27.000000,6.000000,10.000000,0.000000
50%,6.000000,0.000000,35.000000,0.000000,3018.000000,54.000000,21.000000,21.000000,0.000000
75%,12.000000,0.000000,38.000000,1.000000,6458.000000,94.000000,87.250000,33.000000,0.000000
max,36.000000,1.000000,47.000000,10.000000,17090.000000,255.000000,522.000000,97.000000,1.000000

In [15]:
df.fillna('0')

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
1,0.0,0.0,0,0,318.0,5.0,7.0,4.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
3,10.0,0.0,38.0,0,4198.0,66.0,0,35.0,0
4,3.0,0.0,38.0,0,0,58.0,0,33.0,0
...,...,...,...,...,...,...,...,...,...
3145,21.0,0,19.0,2,6697.0,0,0,44.0,0
3146,0,0,17.0,1,9237.0,0,80.0,42.0,0
3147,13.0,0,18.0,4,3157.0,51.0,38.0,21.0,0
3148,7.0,0.0,11.0,2,4695.0,0,222.0,12.0,0
3149,8.0,0,11.0,2,1792.0,25.0,7.0,9.0,1

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
rfc=RandomForestClassifier()

In [22]:
from sklearn.model_selection import GridSearchCV

In [23]:
rfc.n_estimators=50

In [24]:
rfc.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr=LogisticRegression()

In [27]:
lr.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [28]:
df1=pd.read_csv(r'C:\Users\Мирдин\Downloads\27-08-2021_12-56-35\technical_task_dataset.csv')

In [29]:
df1=df1.dropna()

In [30]:
df1.shape

(706, 9)

In [31]:
y = df1['Churn'].values
X = df1.drop('Churn', axis=1).values

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1111)

In [33]:
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

In [34]:
y_pred=rfc.predict(X_test)

In [35]:
accuracy_score(y_test, y_pred)

0.9225352112676056

In [36]:
y_tpred=rfc.predict(X_train)

In [37]:
accuracy_score(y_tpred, y_train)

0.9911347517730497

In [38]:
df.head(100)

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
1,0.0,0.0,NaN,0,318.0,5.0,7.0,4.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
3,10.0,0.0,38.0,0,4198.0,66.0,NaN,35.0,0
4,3.0,0.0,38.0,0,NaN,58.0,NaN,33.0,0
...,...,...,...,...,...,...,...,...,...
95,19.0,0.0,19.0,2,6453.0,144.0,90.0,44.0,0
96,15.0,0.0,17.0,1,8993.0,NaN,78.0,42.0,0
97,11.0,0.0,18.0,4,2913.0,48.0,36.0,21.0,0
98,5.0,0.0,11.0,2,NaN,NaN,220.0,12.0,0
99,6.0,1.0,11.0,2,1548.0,NaN,5.0,9.0,1

In [39]:
df=df.fillna(0)

In [40]:
df.head(100)

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Churn
0,8.0,0.0,38.0,0,4370.0,71.0,5.0,17.0,0
1,0.0,0.0,0.0,0,318.0,5.0,7.0,4.0,0
2,10.0,0.0,37.0,0,2453.0,60.0,359.0,24.0,0
3,10.0,0.0,38.0,0,4198.0,66.0,0.0,35.0,0
4,3.0,0.0,38.0,0,0.0,58.0,0.0,33.0,0
...,...,...,...,...,...,...,...,...,...
95,19.0,0.0,19.0,2,6453.0,144.0,90.0,44.0,0
96,15.0,0.0,17.0,1,8993.0,0.0,78.0,42.0,0
97,11.0,0.0,18.0,4,2913.0,48.0,36.0,21.0,0
98,5.0,0.0,11.0,2,0.0,0.0,220.0,12.0,0
99,6.0,1.0,11.0,2,1548.0,0.0,5.0,9.0,1

In [41]:
y1 = df['Churn'].values
X1 = df.drop('Churn', axis=1).values

In [42]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.2, random_state=1111)

In [43]:
rfc.fit(X_train1, y_train1)

RandomForestClassifier(n_estimators=50)

In [44]:
y_p=rfc.predict(X_test1)

In [45]:
accuracy_score(y_test1, y_p)

0.9

In [46]:
y_t=rfc.predict(X_train1)

In [47]:
accuracy_score(y_train1, y_t)

0.9880952380952381